*{
    box-sizing: border-box;
}
:root{
    --main-color: white;
    --second-color: #FFA343;
}
html, body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-color);
}
.BG{
    background-image: url("../images/BG.png");
    background-size: cover;
}
.BG.Hero{
    background-image: url("../images/BGHero.png");
    height: 60vw;
    padding: 85px;
}
.BG.Block3{
    background-image: url("../images/Rectangle3.png");
    height: 40vw;
}


h1{
    margin: 0;
}
li{
    display: inline;
}
a{
    color: var(--main-color);
    text-decoration: none;
}
a:hover{
    color: rgba(255, 255, 255, 0.5);
}
.tagline{
    text-transform: uppercase;
    font-size: 0.2em;
    color: var(--second-color);
}
.tagline::before{
    content: "";
    border: 1px solid var(--second-color);
    width: 4.375rem;
    display: inline-block;
    position: relative;
    bottom: 0.25rem;
}


header{
    display: flex;
    justify-content: space-between;
}
header>ul a{
    margin: 0 25px;
}
header>div{
    display: flex;
    align-items: center;
}
header>div>a{
    display: flex;
    justify-content: space-between;
    width: 80px;
    color: rgba(255, 255, 255, 0.5);
}


.h-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.icons{
    margin-top: 270px;
    height: 200px;
    width: 5%;
}
.icons>ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons>ul li{
    margin-bottom: 20px;
}
.follow{
    display: flex;
    width: 73px;
    align-self: flex-start;
    transform: rotate(90deg);
    position: relative;
    bottom: 40px;
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 95%;
}
.title{
    display: flex;
    justify-content: center;
}
.title>div>h1{
    font-size: 1em;
}


.scroll_down{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 7.8rem;
}
.scroll_down>a>i{
    margin-left: 10px;
}

/* Main */
.main{
    padding: 0 10%;
}
.main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m-section1{
    position: relative;
    bottom: 200px;
}
.image{
    background-size: cover;
    flex-shrink: 0;
    width: 40%;
    height: 720px;
}
.o1{
    background-image: url("../images/image1.png");
    margin-right: 20%;
}
.content{
    font-size: 18px;
}
.content>h1{
    font-size: 3.5em;
}
.content>p{
    font-size: 1em;
}
.words_arrow{
    color: var(--second-color);
}
.words_arrow>a{
    color: var(--second-color);
}
.words_arrow>a>i{
    margin-left: 10px;
}

.image02{
    background-image: url("../images/image2.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.image02 h1{
    margin-bottom: 20px;
}
.top{
    position: relative;
    bottom: 5%;
    padding: 30px;
}
.bottom{
    padding: 100px 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bromo{
    color: var(--second-color);
}
.bromo::before, .bromo::after{
    content: "";
    border: 1px solid var(--second-color);
    width: 4.375rem;
    display: inline-block;
    position: relative;
    bottom: 0.25rem;
}


.m-section2{
    margin-top: 100px;
}

.o3{
    background-image: url("../images/image3.png");
    margin-left: 20%;
}

/* Footer */

.footer{
    margin-top: 100px;
}
.footer>header>div>button{
    margin-left: 55px;
    padding: 25px 70px;
}

hr{
    margin: 50px auto;
    border: 1px solid rgba(255, 255, 255, 0.25);
}


.footer>main{
    display: flex;
    justify-content: space-between;
}
.footer>main>div>h1{
    width: 350px;
    margin-bottom: 50px;
}
.footer>main>div>div{
    display: flex;
}
.footer>main>div>div>input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    background-color: transparent;
    color: white;
}
.footer>main>div>div>button{
    padding: 27px 30px;
}


.footer>footer{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}
.footer>footer>div a{
    margin: 25px;
}
.footer>footer>ul li{
    margin: 25px;
}


.copyright{
    color: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    margin: 50px;
}


.f-title{
    color: var(--second-color);
    font-weight: 700;
}
.footer>main li{
    display: table;
    margin: 22px;
}
.footer button{
    border: none;
    border-radius: 5px;
    color: black;
    background-color: var(--second-color);
    font-weight: 700;
}
.footer button:hover{
    background-color: #ee902c;
}

@media(max-width: 1350px){
    .m-section1{
        flex-direction: column;
    }
    .m-section2{
        flex-direction: column-reverse;
    }
    .image{
        width: 100%;
    }
    .o1{
        margin-right: 0;
    }
    .o3{
        margin-left: 0;
    }
}
@media(max-width:1200px){
    .Hero>header{
        flex-direction: column;
        align-items: center;
    }
    .Hero>header>ul{
        margin: 30px auto;
    }
    .Hero>main>section{
        margin-top: 50px;
    }
    .title{
        font-size: 60px;
        justify-content: flex-end;
    }
    .scroll_down{
        margin-top: 10px;
    }
    .m-section1{
        bottom: 0;
    }
    .image02{
        height: 80vh;
    }
    .top{
        bottom: -5%;
    }
    .footer>header{
        flex-direction: column;
        align-items: center;
    }
    .footer>header h1{
        margin-bottom: 30px;
    }
    .f-main{
        flex-wrap: wrap;
        margin: 0;
    }
    .f-main>div{
        width: 100%;
    }
}
@media(max-width:950px){
    .title{
        width: 50%;
    }
    .header>main>section{
        width: 2.5%;
    }
    .top{
        bottom: 5%;
    }
    .bottom{
        padding: 50px;
    }
}
@media(max-width:800px){
    .footer>footer>div, .footer>footer>ul{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:600px){
    .BG.Hero{
        padding: 10px;
    }
    header>ul a{
        margin: 0 10px;
    }
    .title{
        font-size: 39px;
    }
    .BG{
        margin-bottom: 100px;
    }
    .image02{
        font-size: 14px;
    }
    .bromo::before, .bromo::after{
        content: "";
        border: 1px solid var(--second-color);
        width: 10px;
        display: inline-block;
        position: relative;
        bottom: 4px;
    }
}