*{
    box-sizing: border-box;
}
:root{
    --main-color: white;
    --second-color: #FFA343;
}
html, body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-color);
}
.BG{
    background-image: url("../images/BG.png");
    background-size: cover;
    height: 100vw;
}
.BG.Hero{
    background-image: url("../images/BGHero.png");
    height: 60vw;
    padding: 85px;
}
.BG.Block3{
    background-image: url("../images/Rectangle3.png");
    height: 40vw;
}
 
h1{
    margin: 0;
}
li{
    display: inline;
}
a{
    color: var(--main-color);
    text-decoration: none;
}
a:hover{
    color: rgba(255, 255, 255, 0.5);
}


header{
    display: flex;
    justify-content: space-between;
}
header>ul a{
    margin: 0 25px;
}
header>div{
    display: flex;
    align-items: center;
}
header>div>a{
    display: flex;
    justify-content: space-between;
    width: 80px;
    color: rgba(255, 255, 255, 0.5);
}


.h-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.h-main section{
    margin-top: 270px;
    height: 200px;
    width: 20px;
}
.h-main section>ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h-main section>ul li{
    margin-bottom: 20px;
}
.h-main section a{
    display: flex;
    width: 73px;
    align-self: flex-start;
    transform: rotate(90deg);
    position: relative;
    bottom: 40px;
}


.title{
    margin-left: 200px;
    margin-top: 200px;
    font-size: 80px;
}
.title>p{
    text-transform: uppercase;
    font-size: 0.2em;
    color: var(--second-color);
}
.title>p::before{
    content: "";
    border: 1px solid var(--second-color);
    width: 70px;
    display: inline-block;
    position: relative;
    bottom: 4px;
}
.title>h1{
    font-size: 1em;
}


.scroll_down{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 125px;
}
.scroll_down>a>i{
    margin-left: 10px;
}


.main{
    padding: 0 230px;
}
.main section{
    display: flex;
    justify-content: space-between;
}
.image01{
    background-image: url("../images/image1.png");
    background-size: cover;
    width: 600px;
    height: 720px;
    position: relative;
    bottom: 200px;
}


footer>header>div>button{
    margin-left: 55px;
    padding: 25px 70px;
}

hr{
    margin: 50px auto;
    border: 1px solid rgba(255, 255, 255, 0.25);
}


footer>main{
    display: flex;
    justify-content: space-between;
}
footer>main>div>h1{
    width: 350px;
    margin-bottom: 50px;
}
footer>main>div>div{
    display: flex;
}
footer>main>div>div>input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    background-color: transparent;
}
footer>main>div>div>button{
    padding: 27px 30px;
}


footer>footer{
    display: flex;
    justify-content: space-between;
}
footer>footer>div a{
    margin: 25px;
}
footer>footer>ul li{
    margin: 25px;
}


.copyright{
    color: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    margin: 50px;
}


.f-title{
    color: var(--second-color);
    font-weight: 700;
}
footer>main li{
    display: table;
    margin: 15px;
}
footer button{
    border: none;
    border-radius: 5px;
    color: black;
    background-color: var(--second-color);
    font-weight: 700;
}
footer button:hover{
    background-color: #ee902c;
}


@media(max-width:1000px){
    header{
        align-items: center;
        flex-direction: column;
    }
    header>ul{
        margin: 30px 0;
    }
    .title{
        font-size: 60px;
    }
}
